body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 10px;
    margin-top: 100px;
    /* display: flex; */
    flex-direction: column;
    border: solid 1px lightgrey;
    justify-content: center;
    flex-basis: 250px;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.box {
    display: flex;
    /* flex-wrap: wrap; */
    color: white;
    background-color:#624cc3;
    align-items: center;
    justify-content: center;
    flex-basis: 60px; height: 60px;
    border: solid 1px rgba(213, 210, 216, 0.475);
    border-width: .5px;
    /* flex-grow: 1; */
 }

 .box:hover {
     background-color:#876fef;
     border: solid .5px rgba(104, 101, 103, 0.486);

 }

 .rectangle {
     flex-basis: 182px;
     justify-content: flex-end;
     /* flex-basis: 70px;
     padding-left: 113px; */
 }

 .rectangle:hover {
     background-color:#624cc3;
     border: solid .5px rgba(213, 210, 216, 0.475);

 }
 
.box-divide, .box-times, .box-minus, .box-plus {
    background-color: #4e38ab;
}

.box-divide:hover, .box-times:hover, .box-minus:hover, .box-plus:hover {
    background-color: #362382;
}

.highlight {
    font-size: 1.3rem;
}

.highlight2 {
    font-size: 1.5rem;
}